body{
  background-color: #ddf7f8;
}

.navbar-login{
  color: aliceblue;
  background-color: #045256;
  border-bottom: 1px solid black;
  display: grid;
  grid-row:  auto;
  text-align: center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 13px;
}

.navbar-items{
}
.title-items{
  background-color: #9AB8BA;
  text-align: center;
  padding: auto;
  border: 1px solid #9AB8BA;
  margin: 50px 400px;
}